@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(
    90deg,
    hsla(280, 81%, 58%, 1) 0%,
    hsla(279, 81%, 59%, 1) 3%,
    hsla(276, 79%, 60%, 1) 9%,
    hsla(274, 79%, 60%, 1) 15%,
    hsla(269, 76%, 61%, 1) 15%,
    hsla(271, 77%, 61%, 1) 23%,
    hsla(259, 72%, 62%, 1) 32%,
    hsla(246, 68%, 64%, 1) 49%,
    hsla(226, 67%, 60%, 1) 56%,
    hsla(194, 96%, 42%, 1) 74%,
    hsla(196, 80%, 79%, 1) 100%
  );
  --border-width: 1px;
  --border-radius: 5px;
  --scrollbar-width: 8px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.playerCard {
  /* border: 0;
  background: var(--gradient); */
  position: relative;
  /* border-bottom: 2px solid transparent; */
  border: 1px solid transparent;

  background: linear-gradient(#141c3f, #141c3f) padding-box,
    linear-gradient(
        90deg,
        hsla(280, 81%, 58%, 1) 0%,
        hsla(279, 81%, 59%, 1) 3%,
        hsla(276, 79%, 60%, 1) 9%,
        hsla(274, 79%, 60%, 1) 15%,
        hsla(269, 76%, 61%, 1) 15%,
        hsla(271, 77%, 61%, 1) 23%,
        hsla(259, 72%, 62%, 1) 32%,
        hsla(246, 68%, 64%, 1) 49%,
        hsla(226, 67%, 60%, 1) 56%,
        hsla(194, 96%, 42%, 1) 74%,
        hsla(196, 80%, 79%, 1) 100%
      )
      border-box;
}

.playerCard::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  background: linear-gradient(
    90deg,
    hsla(280, 81%, 58%, 1) 0%,
    hsla(279, 81%, 59%, 1) 3%,
    hsla(276, 79%, 60%, 1) 9%,
    hsla(274, 79%, 60%, 1) 15%,
    hsla(269, 76%, 61%, 1) 15%,
    hsla(271, 77%, 61%, 1) 23%,
    hsla(259, 72%, 62%, 1) 32%,
    hsla(246, 68%, 64%, 1) 49%,
    hsla(226, 67%, 60%, 1) 56%,
    hsla(194, 96%, 42%, 1) 74%,
    hsla(196, 80%, 79%, 1) 100%
  );
  z-index: -2;
  filter: blur(8px);
}
/* .playerCard::before,
.playerCard::after {
  content: "";
  border-radius: inherit;
  background-color: red;
  inset: -0.5rem;
  z-index: -1;
  position: absolute;
} */

/* .playerCard {
  border: 1px solid;
  border-top-left-radius: 10vw;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    90deg,
    hsla(280, 81%, 58%, 1) 0%,
    hsla(279, 81%, 59%, 1) 3%,
    hsla(276, 79%, 60%, 1) 9%,
    hsla(274, 79%, 60%, 1) 15%,
    hsla(269, 76%, 61%, 1) 15%,
    hsla(271, 77%, 61%, 1) 23%,
    hsla(259, 72%, 62%, 1) 32%,
    hsla(246, 68%, 64%, 1) 49%,
    hsla(226, 67%, 60%, 1) 56%,
    hsla(194, 96%, 42%, 1) 74%,
    hsla(196, 80%, 79%, 1) 100%
  );
} */

body {
  width: 100vw;
  height: 100vh;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  overflow: hidden;
  color: var(--primary-color2);

  /* // *** LIGHT THEME BACKGROUNDCOLOR   */
  /* background-color: #f7f7f9; */
  /* background: #09142d; */
  /* 141C3F */

  /* background: linear-gradient(
    121deg,
    rgba(209, 228, 228, 1) 20%,
    rgba(210, 228, 224, 1) 28%,
    rgba(211, 228, 222, 1) 38%,
    rgba(212, 228, 219, 1) 47%,
    rgba(212, 228, 215, 1) 53%,
    rgba(213, 228, 212, 1) 57%,
    rgba(212, 228, 217, 1) 61%,
    rgba(211, 228, 223, 1) 63%,
    rgba(209, 228, 228, 1) 67%,
    rgba(209, 228, 230, 1) 71%,
    rgba(209, 226, 230, 1) 75%,
    rgba(208, 224, 230, 1) 78%,
    rgba(207, 222, 230, 1) 80%,
    rgba(205, 216, 230, 1) 83%,
    rgba(204, 212, 230, 1) 85%,
    rgba(203, 209, 230, 1) 87%,
    rgba(202, 207, 230, 1) 89%,
    rgba(201, 204, 230, 1) 91%,
    rgba(199, 200, 230, 1) 94%,
    rgba(191, 185, 225, 1) 97%
  ); */

  /* background: linear-gradient(
    121deg,
    rgba(25, 28, 36, 1) 20%,
    rgba(40, 22, 29, 1) 28%,
    rgba(75, 20, 26, 1) 38%,
    rgba(50, 21, 27, 1) 47%,
    rgba(40, 22, 28, 1) 53%,
    rgba(25, 28, 36, 1) 57%,
    rgba(75, 20, 26, 1) 80%,
    rgba(22, 33, 52, 1) 87%
  ); */
  /* background-color: red; */
}

li {
  margin-bottom: 1vh;
}
/* 
.concave::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
} */

.field {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  /* background: rgb(7, 127, 141);
  background: linear-gradient(
    133deg,
    rgba(7, 127, 141, 1) 0%,
    rgba(37, 142, 154, 1) 19%,
    rgba(54, 164, 176, 1) 37%,
    rgba(13, 129, 142, 1) 55%,
    rgba(35, 141, 153, 1) 73%,
    rgba(66, 157, 167, 1) 100%
  ); */
  position: relative;
  /* border-bottom: 2px solid transparent; */
  border: 1px solid transparent;

  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Place children at the bottom on the y-axis */
  align-items: center;
  border-bottom: 1px solid #5585fe;
  border-right: 2px solid #5585fe;
  /* z-index: 3; */
}

.field::after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  background: linear-gradient(
    90deg,
    hsla(280, 81%, 58%, 1) 0%,
    hsla(279, 81%, 59%, 1) 3%,
    hsla(276, 79%, 60%, 1) 9%,
    hsla(274, 79%, 60%, 1) 15%,
    hsla(269, 76%, 61%, 1) 15%,
    hsla(271, 77%, 61%, 1) 23%,
    hsla(259, 72%, 62%, 1) 32%,
    hsla(246, 68%, 64%, 1) 49%,
    hsla(226, 67%, 60%, 1) 56%,
    hsla(194, 96%, 42%, 1) 74%,
    hsla(196, 80%, 79%, 1) 100%
  );
  z-index: -2;
  filter: blur(8px);
}

.keeperBox {
  width: 60%;
  height: 25%;
  border: 2px solid #5585fe;
  border-bottom: none;
  margin-top: auto;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Place children at the bottom on the y-axis */
  align-items: center;
  position: relative;
}

.keeperMiniBox {
  width: 40%;
  height: 30%;
  border: 2px solid #5585fe;
  border-bottom: none;
  margin-top: auto;
  /* z-index: 130; */
}

.kepperCirle {
  border-top: 2px solid #5585fe;
  width: 7%;
  height: 10%;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 42vh;
}

.halfSemiCirlce {
  border: 2px solid #5585fe;
  width: 30%;
  height: 20%;
  border-radius: 50%;
  margin-top: -7vh;
  /* color: rgba(54, 54, 54, 0.671); */
}

table {
  /* background-color: #9fa5b2; */
}

table thead tr th {
  height: 40px;
}
table tbody tr td {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 0.9em;
}

/* SCROLL BAR SETTINS */

div::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
div::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  transition: background-color 0.3s;
}
div:not(:hover)::-webkit-scrollbar-thumb {
  background-color: transparent;
}

div::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* color: rgba(255, 255, 255, 0.466); */
}

.newsText:hover {
  text-decoration: underline;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: rgba(255, 0, 0, 0);
  padding-top: 0;
}

.css-6hp17o-MuiList-root-MuiMenu-list > li {
  font-size: 0.9em;
}

.chooseARoleCard:hover {
  background-color: #e0fa55;
  color: #09142d;
  cursor: pointer;
}

/* // PHONE NUMBER IN CREATE ACCOUNT FORM  */
.react-international-phone-input-container,
.react-international-phone-input {
  background-color: transparent;
  border: none;
  width: 100%;
}

/* react-international-phone-input-container */

.react-international-phone-input {
  height: 100%;
  background-color: red;
  border: 1px solid;
}

div.react-international-phone-country-selector {
  background-color: transparent;
}

.react-international-phone-country-selector-button {
  background-color: red;
}

/* CSS FROM COACH AGENT AND SCOUT VERSION */

.VideoComponent:hover {
  background: grey;
}

tbody tr {
  height: 6vh;
}

.messageCard:hover {
  border-left: 3px solid #5585fe;
}

.messageCard {
  border-left: 3px solid transparent;
}

.uploadPlayerModalCard:hover {
  background-color: #e0fa55;
  color: #09142d;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* //ACTIBE LINK */

/* button.MuiButtinBase-root.MuiButtin-root.MuiButton-text.MuiButton-textPrimary */

/* .MuiBox-root css-hxfpyy */
/* div {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
} */

/* 
.MuiFormControl-root,
.MuiTextField-root,
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border-radius: 10px;
  background-color: #313543;
  color: white;
}

.MuiInputBase-input,
.MuiOutlinedInput-input,
.MuiInputBase-inputAdornedEnd,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}

#outlined-adornment-password {
  color: white;
}

.MuiFormLabel-root,
.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-sizeMedium,
.MuiInputLabel-outlined,
.MuiFormLabel-colorPrimary,
.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-sizeMedium,
.MuiInputLabel-outlined,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white;

  text-emphasis-color: white;
} */

/* 
.kepperCirle {
  border: 2px solid white;
  width: 7%;
  height: 5%;
  border-top-left-radius: 190px;
  border-top-right-radius: 190px;

  margin: auto;
  position: absolute;
  top: 41.5vh;
} */

/* Css for support page */

.body_container {
  /* width: 100vw;
  height: 100vh; */
  overflow-x: hidden;
  background: #141c3f;
}
.container {
  /* width: 100vw; */
  height: 100vh;
  display: grid;
  /* background: red; */
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  grid-template-areas: "header" "body";
}
.header_container {
  grid-area: header;
  /* background: yellow; */
}
.main_container {
  grid-area: body;
  /* background: blue; */
  height: 200vh;
  display: grid;
  grid-template-rows: 25% 55% 10%;
  grid-template-columns: 100%;
  grid-template-areas: "header" "cards" "footer";
}
.head {
  width: 84.6%;
  height: 15vh;
  background: #141c3f;
  position: fixed;
  z-index: 50;
}
/* ============ */
.title_search {
  grid-area: header;
  background: #141c3f;
}
.cards {
  grid-area: cards;
  /* background: yellow; */
}
/* ================== */
.footer {
  grid-area: footer;
  /* background: green; */
  height: 100vh;
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 100%;
  grid-template-areas: "header" "cards";
}
.email {
  grid-area: header;
  /* background: pink; */
}
.foot {
  grid-area: cards;
  /* background: peru; */
}
/* ====================== */

/* Support Settings */
